.container {
    height: 100vh;
}

.titleContainer {
    width: 99.7%;
    height: 15vh;
    background: linear-gradient(57deg,#00c6a7,#1e8292);
    padding: 0;
    margin: 0;
    color: #ffffff;
    border: 2px solid #ffffff;
}
.title{
    padding: 0;
    margin: 0;
    font-size: 35px;
    text-align: left;
    font-weight: 600;
    margin-top: 30px;
}