.home {
    height: 100vh;
    background: linear-gradient(57deg, #00c6a1, #1e8294);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    color: #ffffff;
}

.homeImg {
    padding: 50px;
    width: 90%;
}

.homeContent {
    margin: 80px;
    margin-top: 150px;
}

.heading {
    font-size: 50px;
    font-weight: 400;
    text-transform: capitalize;
}

.title {
    margin-left: 4px;
    font-weight: 350;
    font-size: 45px;
}

.socialIcon {
    margin-left: 35%;
    margin-top: -40px;
}

.icon {
    padding: 5px;
}

.icon:hover {
    cursor: pointer;
}

.introHeading {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.introTitle {
    text-align: center;
}

.content {
    margin-top: 20%;
}

.introImg {
    border-radius: 50%;
    width: 400px;
    align-items: center;
}

.expertiseSection {
    color: black;
    text-align: center;
}

.expertiseTittle {
    text-align: center;
    font-size: 35px;
}

.skillTitle {
    text-align: center;
    font-size: 40px;
}


@media(max-width: 600px) {
    .introImg {
        width: 100%;
        margin: 10px auto 20px;
        display: block;
    }

    .homeImg {
        padding: 30px;
        width: 80%;
    }

    .homeContent {
        margin: 50px;
        margin-top: -40px;
    }

    .heading {
        font-size: 25px;
        font-weight: 500;
    }

    .content {
        margin-top: 0%;
    }

    .title {
        margin-left: 0px;
        font-size: 24px;
        font-weight: 400;

    }

    .skillTitle {
        font-size: 30px;
    }

    .socialIcon {
        margin-left: 30%;
        margin-top: -25px;
    }


}